
<div id="register-form-wrap">
    <h2>Register</h2>
    <form id="register-form">
      <p>
      <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="Enter password" required><i class="validation"><span></span><span></span></i>
        </p>
      <p>
        <input type="repass" id="repass" name="repass" placeholder="Repeat password" required><i class="validation"><span></span><span></span></i>
     </p>
      <p>
      <input type="submit" id="register" value="Register">
      </p>
    </form>
    <div id="login-wrap">
      <p>Already have an account? <a href="/login">Login</a><p>
    </div>
  </div>