
    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/books">Books</a>
            </li>   <li>
                <a routerLink="/books/new">New Book</a>
            </li>
        </ul>
    </nav>
<div class="nav-bar">
    <ul>
        <li>
            <a routerLink="/login">Login</a>
        </li>
        <li>
            <a routerLink="/register">Register</a>
        </li>        
    </ul>
    <ul>
        <li>
            <a routerLink="/logout">Logout</a>
        </li>        
        <li>
            <a routerLink="/profile">Profile</a>
        </li>
    </ul>
</div>


